* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --max-content-width: 10000px;
  --secondary-color: #000;
  --primary-color: #fff;
  --card-color : rgb(254, 188, 16)
}

body{
  /* background-image: linear-gradient(180.96deg, #282c33 0.82%, #282c33 129.1%);
  backdrop-filter: blur(7px);
  background-size: cover; */
  background-color: rgb(244, 239, 239);
}

.nav-img{
  
}

/* common */

.cartbtn {
  background-color: var(--card-color);
  color: var(--color);
  font-size: 23px;
  font-weight: 500;
  font-family: Archivo;
  padding: 13px 39px;
  border: none;
  outline: none;
  cursor: pointer;
  width: 100%;
}


.nav-link{
  color: #000;
}

.container {
  width: 100%;
  max-width: var(--max-content-width);
  /* margin-right: auto;
  margin-left: auto; */

}

.banner__wrapper{
  background-image: url("https://res.cloudinary.com/blackgirlmagic/image/upload/v1673867628/ecommerce/google-shopping-ads-6304dccb7a49e-sej_qmnwaj.png");

  background-size: cover;
  background-position: center;
  margin-top: 100px;
  width: 100%;
  
}

/* navigation */
.navigation__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: var(--max-content-width);
 /* background-color: var(--primary-color); */
  padding: 20px 23px;
  margin-left: auto;
  margin-right: auto;
}

.navigation__cartBtn {
  background-color: transparent;
  border: none;
  height: 32px;
  width: 32px;
}

.navigation__cartBtn > img {
  height: 100%;
  width: 100%;
}


  .banner-writeup{
    height: 219px !important;
    width: 100% !important;
   margin-left: 10px !important;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }


  .banner-writeup h1{
    width: 60%;
  }

  .banner-writeup p{
    width: 50%;
  }


  .footer-writeup {
    text-align: center;
    color: var(--secondary-color);
    padding-top: 4px;
  }
  
  .footer-icon {
    color: var(--maincolor);
    margin-left: 3px;
    margin-right: 3px;
  }
  
  .footer-date {
    color: var(--secondary-color);
    display: inline-block;
    margin-right: 3px;
    margin-left: 5px;
  }

  .footer{
    background-color: var(--card-color);
  }
  
  
 




@media (min-width: 768px) {
  .navigation__wrapper {
    padding: 27px 68px 33px 68px;
  }

  .navigation__cartBtn {
    height: 54px;
    width: 54px;
  }

  .banner-writeup{
    height: 439px !important;
    width: 50% !important;
   margin-left: 30px !important;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .banner-writeup h1{
    width: 100%;
  }

  .banner-writeup p{
    width: 100%;
  }

  
}



@media only screen and (max-width: 1440px) and (min-width: 1024px) {
  .navigation__wrapper {
    padding: 0px 0 0px 0;
  }
  .banner-writeup{
    height: 539px !important;
    width: 40% !important;
   margin-left: 30px !important;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .banner-writeup h1{
    width: 100%;
  }

  .banner-writeup p{
    width: 100%;
  }
}

/* showcase */

.showcase {
  padding: 32px 14px 49px 14px;
}

.showcase__header {
  width: 100%;
  max-width: var(--max-content-width);
  margin: 0  auto 31px auto;
}

.showcase__header-button {
  display: none;
}

.showcase__header_title {
  font-family: Archivo;
  font-size: 32px;
  font-weight: 700;
  color: var(--secondary-color);
}

.banner__wrapper {
  height: 239px;
  margin-bottom: 30px;
  position: relative;
  background-position: top;
}

.banner__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.banner__label {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--primary-color);
  width: 227px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: var(--secondary-color);
  font-family: Archivo;
}

.mobileBtn {
  display: flex;
  margin-bottom: 30px;
}

.shocase__details {
  display: flex;
}

.sectionHeading {
  font-weight: 500;
  font-size: 22px;
  font-family: Archivo;
}

.firstHeading {
  margin-bottom: 37px;
}

.secondHeading {
  margin-bottom: 30px;

}

.sectionLead {
color: #656565;
font-size: 18px;
font-family: Archivo;
line-height: 27px;
}

.showcase__details-rightside {
  margin-bottom: 34px;
}

.peoplebuy__list {
  display: flex;
  align-items: center;
}

.peoplebuy__list  li {
  display: flex;
  height: 123px;
  width: 98px;
}

.peoplebuy__list li > img {
width: 100%;
height: 100%;
object-fit: cover;
}

.peoplebuy__list > li  + li {
margin-left: 30px
}

.peoplebuy__list-wrapper {
  margin-bottom: 40px;
}

.thridHeading {
  margin-bottom: 23px;
}

.detail__list > li {
display: flex;
color: #656565;
font-size: 22px;
font-family: Archivo;
}

.detail__list > li + li {
  margin-top: 14px;
}

@media (min-width: 768px) {

 
  .showcase {
    padding-right: 68px;
    padding-left: 68px;
  }

  .showcase__header-button {
    display: block;
    width: 257px;
  }

  .showcase__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .banner__wrapper {
    height: 553px;
    margin-bottom: 42px;
  }

  .banner__label {
    width: 271px;
    height: 67px;
    font-size: 20px;

  }

  .mobileBtn {
    display: none;
  }
  
  .showcase__details {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .showcase__details-rightside {
    max-width: 690px;
  }

  .secondHeading {
    text-align: right;
  }

  .peoplebuy__list {
    justify-content: flex-start;
  }

  .detail {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .detail__list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

@media only screen and (max-width: 1440px) and (min-width: 1281px) {
  .showcase {
    padding-right: 0px;
    padding-left: 0px;
  }
}

/* // divider */

.divider {
  height: 4px;
  background-color: #E4E4E4;
}